extends layout/main
    
block variables
    - var pageTitle = "Ссылки - Добрый:)юг"

block content
    main.main.post
        .post-wrap
            .post-header
                .container
                    h1.post-header__title Ссылки
            .container
                ul
                    li
                        a(href="index.html") Главная
                    li
                        a(href="about.html") О нас
                    li
                        a(href="help.html") Получить помощь
                    li
                        a(href="programs.html") Все программы
                    li
                        a(href="program-1.html") Программа 1
                    li
                        a(href="program-2.html") Программа 2
                    li
                        a(href="program-3.html") Программа 3
                    li
                        a(href="all-help.html") Способы помощи
                    li
                        a(href="contacts.html") Контакты
                    li
                        a(href="404.html") 404