header.header.compensate-for-scrollbar
    .container
        .header__wrap
            .header__row
                .header__left
                    .header__logo
                        a(href="#")
                            span добрый:)юг
                            span д:)ю
                    .header__menu.js-mob-menu
                        button(type="button").header__menu-close.js-menu-close x
                        nav.header__nav
                            ul
                                li
                                    a(href="#") Главная
                                li
                                    a(href="#") Хочу Помочь
                                li
                                    a(href="#") Нужна Помощь
                                li.active
                                    a(href="#") О нас
                                li
                                    a(href="#") Программы
                                li
                                    a(href="#") Контакты
                .header__right
                    .header__contacts
                        .header__phone
                            a(href="tel:+79282416184") +7 (928) 241-61-84
                        .header__address Краснодар, Пр.Чекистов, д.10
                    button(type="button").header__menu-icon.js-menu-open
                        span
                        span
                        span