script(src="js/jquery-3.4.1.min.js")
script(src="js/formstyler.min.js")
script(src="js/swiper-bundle.min.js")
script(src="js/jquery.inputmask.min.js")
script(src="js/jquery.fancybox.min.js")
script(src="js/tweenMax.min.js")
script(src="js/main.js?v1")