//Pragmatica
@font-face {
    font-family: 'Pragmatica Yug';
    src: url('fonts/Pragmatica/Pragmatica-Book.woff2') format('woff2'),
        url('fonts/Pragmatica/Pragmatica-Book.woff') format('woff'),
        url('fonts/Pragmatica/Pragmatica-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pragmatica Yug';
    src: url('fonts/Pragmatica/Pragmatica-Medium.woff2') format('woff2'),
        url('fonts/Pragmatica/Pragmatica-Medium.woff') format('woff'),
        url('fonts/Pragmatica/Pragmatica-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

//Pragmatica
@font-face {
    font-family: 'Pragmatica Cond Yug';
    src: url('fonts/PragmaticaCond/PragmaticaCond-Book.woff2') format('woff2'),
        url('fonts/PragmaticaCond/PragmaticaCond-Book.woff') format('woff'),
        url('fonts/PragmaticaCond/PragmaticaCond-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pragmatica Cond Yug';
    src: url('fonts/PragmaticaCond/PragmaticaCond-Medium.woff2') format('woff2'),
        url('fonts/PragmaticaCond/PragmaticaCond-Medium.woff') format('woff'),
        url('fonts/PragmaticaCond/PragmaticaCond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

//Kazimir
@font-face {
    font-family: 'Kazimir Yug';
    src: url('fonts/Kazimir/Kazimir-Light.woff2') format('woff2'),
        url('fonts/Kazimir/Kazimir-Light.woff') format('woff'),
        url('fonts/Kazimir/Kazimir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Kazimir Yug';
    src: url('fonts/Kazimir/Kazimir-LightItalic.woff2') format('woff2'),
        url('fonts/Kazimir/Kazimir-LightItalic.woff') format('woff'),
        url('fonts/Kazimir/Kazimir-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Kazimir Yug';
    src: url('fonts/Kazimir/Kazimir-Regular.woff2') format('woff2'),
        url('fonts/Kazimir/Kazimir-Regular.woff') format('woff'),
        url('fonts/Kazimir/Kazimir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Kazimir Yug';
    src: url('fonts/Kazimir/Kazimir-RegularItalic.woff2') format('woff2'),
        url('fonts/Kazimir/Kazimir-RegularItalic.woff') format('woff'),
        url('fonts/Kazimir/Kazimir-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Kazimir Yug';
    src: url('fonts/Kazimir/Kazimir-Medium.woff2') format('woff2'),
        url('fonts/Kazimir/Kazimir-Medium.woff') format('woff'),
        url('fonts/Kazimir/Kazimir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Kazimir Yug';
    src: url('fonts/Kazimir/Kazimir-MediumItalic.woff2') format('woff2'),
        url('fonts/Kazimir/Kazimir-MediumItalic.woff') format('woff'),
        url('fonts/Kazimir/Kazimir-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Kazimir Yug';
    src: url('fonts/Kazimir/Kazimir-Bold.woff2') format('woff2'),
        url('fonts/Kazimir/Kazimir-Bold.woff') format('woff'),
        url('fonts/Kazimir/Kazimir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Kazimir Yug';
    src: url('fonts/Kazimir/Kazimir-BoldItalic.woff2') format('woff2'),
        url('fonts/Kazimir/Kazimir-BoldItalic.woff') format('woff'),
        url('fonts/Kazimir/Kazimir-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}